<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:property-placeholder location="classpath:config.properties" file-encoding="UTF-8"
                                  ignore-unresolvable="true"/>

    <context:annotation-config />
    <context:component-scan base-package="net.shopnc.b2b2c.config"/>
    <context:component-scan base-package="net.shopnc.b2b2c.domain"/>
    <context:component-scan base-package="net.shopnc.b2b2c.dao"/>
    <context:component-scan base-package="net.shopnc.b2b2c.service"/>
    <context:component-scan base-package="net.shopnc.common.util"/>
    <context:component-scan base-package="net.shopnc.b2b2c.worker"/>

    <!-- 变量注入 -->
    <bean class="net.shopnc.b2b2c.config.ShopConfig">
        <property name="cacheOpen" value="${cacheOpen}" />
    </bean>
    <bean class="net.shopnc.b2b2c.worker.config.WorkerConfig">
        <property name="uri" value="${Uri}"/>
        <property name="softwareSerialNo" value="${SoftwareSerialNo}"/>
        <property name="key" value="${Key}"/>
    </bean>

    <import resource="classpath:applicationContext-hibernate.xml"/>
    <import resource="classpath:applicationContext-smtp-mail.xml"/>

</beans>